CONTAINER_NAME="smartstrm"
CONTAINER_HOSTNAME="smartstrm"
PANEL_APP_PORT_HTTP=8024
ADMIN_USERNAME="admin"
ADMIN_PASSWORD="admin123"
DATA_PATH_CONFIG="./data/config"
DATA_PATH_LOGS="./data/logs"
DATA_PATH_STRM="./data/strm"
